Repository YixuanSeanZhou/GaryPlanner, pull requests merged in 2020-11, with the labels that each got.

#29 Update README.md
  README.md
Labels: Task

#42 Yixuan is not a pig
  front-end/README.md
Labels: front-end

#45 Page structure
  front-end/components/commonUI.js
  front-end/components/courseInfo.js
  front-end/components/planCalendar.js
  front-end/package-lock.json
  front-end/package.json
  front-end/pages/_app.js
  front-end/pages/api/hello.js
  front-end/pages/fourYearPlan.js
  front-end/pages/home.js
  front-end/pages/index.js
  front-end/pages/login.js
  front-end/pages/start.js
  front-end/pages/userProfile.js
  front-end/public/favicon.ico
  front-end/public/vercel.svg
  front-end/styles/Index.module.css
  front-end/styles/Login.module.css
  front-end/styles/globals.css
Labels: documentation, front-end

#43 Created "majors" model and api route
  back_end/src/__init__.py
  back_end/src/apis/major.py
  back_end/src/models/major.py
Labels: backend

#67 AllClass_model
  back_end/cse.pdf
  back_end/src/__init__.py
  back_end/src/apis/all_classes.py
  back_end/src/models/all_classes.py
Labels: backend

#66 Friend model api
  back_end/Dockerfile
  back_end/docker-compose.yml
  back_end/runner.py
  back_end/src/__init__.py
  back_end/src/apis/data_scrap
  back_end/src/apis/friend.py
  back_end/src/apis/user.py
  back_end/src/models/friend.py
  back_end/src/models/user.py
Labels: backend

#70 Front four year dnd
  front-end/components/planCalendar.js
  front-end/components/planCalendar/course.js
  front-end/components/planCalendar/placeholderData.js
  front-end/components/planCalendar/planCalendar.js
  front-end/components/planCalendar/quarter.js
  front-end/package-lock.json
  front-end/package.json
  front-end/pages/fourYearPlan.js
  front-end/styles/FourYearPlan.module.css
Labels: front-end

#72 front-profilepage
  front-end/pages/ChangePass.js
  front-end/pages/index.js
  front-end/pages/setting.js
  front-end/pages/userProfile.js
  front-end/styles/ChangePass.module.css
  front-end/styles/Setting.module.css
  front-end/styles/UserProfile.module.css
Labels: front-end

#77 Class info
  front-end/components/eval/evaluation.js
  front-end/components/eval/evaluationsList.js
  front-end/package-lock.json
  front-end/package.json
  front-end/pages/classInfo.js
  front-end/pages/currQuarter.js
  front-end/pages/index.js
  front-end/styles/classInfo.module.css
Labels: front-end

#44 added 4yrplan and requirements db models
  .gitignore
  .vscode/settings.json
  back_end/cse.pdf
  back_end/src/__init__.py
  back_end/src/apis/four_year_plan.py
  back_end/src/apis/major.py
  back_end/src/apis/requirements.py
  back_end/src/models/all_classes.py
  back_end/src/models/four_year_plan.py
  back_end/src/models/requirements.py
Labels: backend

#81 Basic Authentication
  front-end/pages/index.js
  front-end/pages/login.js
  front-end/pages/setting.js
  front-end/pages/signup.js
  front-end/pages/temp/testProfile.js
  front-end/styles/Register.module.css
Labels: front-end

#86 Front four year plan page basic
  front-end/components/planCalendar/placeholderData.js
  front-end/components/planCalendar/planCalendar.js
  front-end/components/planCalendar/searchBar/courseSearchColumn.js
  front-end/components/planCalendar/searchBar/searchBar.js
  front-end/pages/fourYearPlan.js
  front-end/pages/home.js
  front-end/pages/intro.js
  front-end/styles/FourYearPlan.module.css
Labels: front-end

#89 relaxed search criteria when searching by instructor (dont need to be…
  back_end/cse.pdf
  back_end/src/models/evaluations.py
Labels: backend

#88 Complete Login / Authentication
  back_end/cse.pdf
  front-end/components/commonUI.js
  front-end/package-lock.json
  front-end/package.json
  front-end/pages/_app.js
  front-end/pages/index.js
  front-end/pages/login.js
  front-end/pages/signup.js
  front-end/pages/util/error.js
  front-end/styles/Auth.module.css
  front-end/styles/Index.module.css
  front-end/styles/Login.module.css
  front-end/styles/Register.module.css
  front-end/styles/globals.css
Labels: front-end

#95 almost forgot fyp api
  back_end/src/apis/four_year_plan.py
Labels: backend

#100 Four year plan model
  back_end/src/apis/four_year_plan.py
  back_end/src/models/four_year_plan.py
Labels: backend

#93 Front home
  front-end/components/commonUI.js
  front-end/components/homeNav.js
  front-end/components/requestPlan.js
  front-end/package-lock.json
  front-end/package.json
  front-end/pages/changePass.js
  front-end/pages/classInfo.js
  front-end/pages/currQuarter.js
  front-end/pages/fourYearPlan.js
  front-end/pages/friends.js
  front-end/pages/home.js
  front-end/pages/intro.js
  front-end/pages/login.js
  front-end/pages/userProfile.js
  front-end/public/images/plan.png
  front-end/public/images/schedule.png
  front-end/styles/Auth.module.css
  front-end/styles/Intro.module.css
  front-end/styles/globals.css
Labels: front-end

#105 Front restructure
  front-end/components/commonUI.js
  front-end/pages/_app.js
  front-end/pages/changePass.js
  front-end/pages/classInfo.js
  front-end/pages/currQuarter.js
  front-end/pages/fourYearPlan.js
  front-end/pages/friends.js
  front-end/pages/home.js
  front-end/pages/login.js
  front-end/pages/signup.js
  front-end/pages/temp/testProfile.js
  front-end/pages/userProfile.js
  front-end/styles/Setting.module.css
Labels: front-end
