Repository YixuanSeanZhou/GaryPlanner, pull requests merged in 2020-12, with the labels that each got.

#103 Descriptions and Evaluations formatted API
  back_end/src/apis/all_classes.py
  back_end/src/apis/evaluation.py
  back_end/src/apis/four_year_plan.py
  back_end/src/models/evaluations.py
Labels: backend

#97 added get_friend_fyp
  back_end/src/apis/friend.py
Labels: backend

#101 newProfilePage
  front-end/pages/changePass.js
  front-end/pages/userProfile.js
  front-end/public/images/edit.png
  front-end/public/images/profile_picture.png
  front-end/public/images/save.png
Labels: front-end

#111 updated api and models according to what front end needs
  back_end/src/apis/friend.py
  back_end/src/benson_da.json
  back_end/src/models/friend.py
Labels: backend

#114 Remove plan
  back_end/src/apis/four_year_plan.py
  back_end/src/models/four_year_plan.py
Labels: backend

#113 Front friend calendar
  front-end/components/planCalendar/friendCalendar.js
  front-end/components/planCalendar/planCalendar.js
  front-end/components/planCalendar/searchBar/searchBar.js
Labels: front-end

#112 Front friends
  front-end/components/friends/content.js
  front-end/components/friends/search.js
  front-end/components/friends/sidebar.js
  front-end/package-lock.json
  front-end/package.json
  front-end/pages/friends.js
  front-end/pages/intro.js
  front-end/styles/Auth.module.css
  front-end/styles/Friends.module.css
  front-end/styles/Intro.module.css
  front-end/styles/SearchBar.module.css
  front-end/styles/globals.css
Labels: front-end

#117 Front debug4yp
  front-end/components/planCalendar/planCalendar.js
  front-end/components/planCalendar/searchBar/searchBar.js
Labels: Task, front-end

#120 Front home improve
  front-end/components/requestPlan.js
  front-end/pages/home.js
  front-end/styles/HomePage.module.css
Labels: front-end

#122 Front no more index
  front-end/components/commonUI.js
  front-end/components/eval/evaluation.js
  front-end/components/eval/evaluationsList.js
  front-end/components/friends/content.js
  front-end/components/planCalendar/course.js
  front-end/components/planCalendar/friendCalendar.js
  front-end/components/planCalendar/planCalendar.js
  front-end/components/planCalendar/quarter.js
  front-end/components/planCalendar/searchBar/courseSearchColumn.js
  front-end/components/planCalendar/searchBar/searchBar.js
  front-end/package-lock.json
  front-end/package.json
  front-end/pages/classInfo.js
  front-end/pages/fourYearPlan.js
  front-end/pages/friends.js
  front-end/pages/home.js
  front-end/pages/index.js
  front-end/pages/intro.js
  front-end/pages/signup.js
  front-end/pages/userProfile.js
  front-end/styles/FourYearPlan.module.css
  front-end/styles/Friends.module.css
  front-end/styles/HomePage.module.css
  front-end/styles/Intro.module.css
  front-end/styles/SearchBar.module.css
  front-end/styles/UserProfile.module.css
  front-end/styles/classInfo.module.css
  front-end/styles/globals.css
Labels: front-end

#125 Front details
  front-end/components/commonUI.js
  front-end/components/friends/content.js
  front-end/components/planCalendar/course.js
  front-end/components/planCalendar/friendCalendar.js
  front-end/components/planCalendar/quarter.js
  front-end/components/requestPlan.js
  front-end/pages/changePass.js
  front-end/pages/friends.js
  front-end/styles/FourYearPlan.module.css
  front-end/styles/Friends.module.css
Labels: front-end

#126 Friends/get friend fyp
  back_end/src/apis/friend.py
  back_end/src/models/friend.py
Labels: backend

#130 Fix add friend
  front-end/components/friends/content.js
  front-end/components/requestPlan.js
  front-end/pages/login.js
Labels: front-end

#131 updated request_friend
  back_end/src/apis/friend.py
  back_end/src/models/friend.py
Labels: backend
